.green-marble {
  background: url("background.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  line-height: 40px;
  height: 40px;
  font-weight: lighter;
  margin: -150px 0 0 0;
  display: inline-block;
  z-index: 1;
  
}

.shadow {
  font-size: 65px;
  height: 55px;
  line-height: 55px;
  color: #C9DAD0;
  font-weight: lighter;
  margin: 0 0 0 0;
  z-index: 0;

}
  
.text-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;

}

